---
import Section from '@components/ui/Section.astro'
---

<Section>
  <p>Hey, there!</p>
  <p>
    I am a software engineer mostly working with <b>Rust</b>, <b>C</b>, <b>JavaScript</b> and some <b>C++</b>.
    <br />
    All my projects are available on <a href="https://github.com/rustdevbtw">GitHub</a>.
    <br />
    You can also check out my <a href="https://github.com/rustdevbtw/.dots">dotfiles</a>.
  </p>
</Section>

<style>
  p + p {
    margin-top: var(--size-5);
  }

  b {
    color: var(--color-text-highlight);
    font-weight: var(--font-semibold);
  }
</style>
